ws-sample-proxy-client/src/main/resources/etc/userws-proxy.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.integration.sample.ws.co.nz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserServiceService" targetNamespace="http://ws.integration.sample.ws.co.nz">
  <wsdl:types>
<xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.integration.sample.ws.co.nz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" elementFormDefault="unqualified" targetNamespace="http://ws.integration.sample.ws.co.nz" version="1.0">

			
  <xs:element name="CreateUserRequest" type="tns:CreateUserRequest"/>

			
  <xs:element name="CreateUserResponse" type="tns:CreateUserResponse"/>

			
  <xs:element name="User" type="tns:User"/>

			
  <xs:complexType name="CreateUserRequest">
				
    <xs:sequence>
					
      <xs:element form="qualified" minOccurs="0" name="role" type="xs:string"/>
					
      <xs:element form="qualified" minOccurs="0" name="info" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>

			
  <xs:complexType name="CreateUserResponse">
				
    <xs:sequence>
					
      <xs:element minOccurs="0" ref="tns:User"/>
				
    </xs:sequence>
			
  </xs:complexType>

			
  <xs:complexType name="User">
				
    <xs:sequence>
					
      <xs:element name="userId" type="xs:string"/>
					
      <xs:element name="userName" type="xs:string"/>
					
      <xs:element minOccurs="0" name="password" type="xs:string"/>
					
      <xs:element name="role" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>

		
</xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateUser">
    <wsdl:part element="tns:CreateUserRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateUserResponse">
    <wsdl:part element="tns:CreateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserEndpointPortType">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUser" name="CreateUser">
    </wsdl:input>
      <wsdl:output message="tns:CreateUserResponse" name="CreateUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceServiceSoapBinding" type="tns:UserEndpointPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://ws.integration.sample.ws.co.nz/CreateUser" style="document"/>
      <wsdl:input name="CreateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServiceService">
    <wsdl:port binding="tns:UserServiceServiceSoapBinding" name="UserEndpointPortTypePort">
      <soap:address location="http://localhost:9898/wsproxy/ws/user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>