ws-sample/ws-sample-integration/src/main/resources/xPression.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.documentrequester.com/schemas/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.documentrequester.com/schemas/"
	xmlns:intf="http://www.documentrequester.com/schemas/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.3 Built on Oct 05, 2005 (05:23:37 
		EDT) -->
	<wsdl:types>
		<schema targetNamespace="http://www.documentrequester.com/schemas/"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOfString">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>

	<wsdl:message name="outputProfilesForDocumentResponse">

		<wsdl:part name="outputProfilesForDocumentReturn" type="intf:ArrayOfString" />

	</wsdl:message>

	<wsdl:message name="publishMSOHTMLDocumentResponse">

		<wsdl:part name="publishMSOHTMLDocumentReturn" type="intf:ArrayOfString" />

	</wsdl:message>

	<wsdl:message name="publishAndReturnDocumentResponse">

		<wsdl:part name="publishAndReturnDocumentReturn" type="xsd:base64Binary" />

	</wsdl:message>

	<wsdl:message name="publishAndReturnDocumentRequest">

		<wsdl:part name="documentName" type="xsd:string" />

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="outputProfile" type="xsd:string" />

		<wsdl:part name="customerData" type="xsd:string" />

		<wsdl:part name="applicationName" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="publishDocumentResponse">

		<wsdl:part name="publishDocumentReturn" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="getBDTResponse">

		<wsdl:part name="getBDTReturn" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="getBDTRequest">

		<wsdl:part name="documentName" type="xsd:string" />

		<wsdl:part name="customerData" type="xsd:string" />

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="appName" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="documentsForCategoryRequest">

		<wsdl:part name="documentCategory" type="xsd:string" />

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="appName" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="getAssembledDocumentRequest">

		<wsdl:part name="documentName" type="xsd:string" />

		<wsdl:part name="customerData" type="xsd:string" />

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="appName" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="publishMSOHTMLDocumentRequest">

		<wsdl:part name="documentName" type="xsd:string" />

		<wsdl:part name="customerData" type="xsd:string" />

		<wsdl:part name="moshtml" type="xsd:base64Binary" />

		<wsdl:part name="outputProfileName" type="xsd:string" />

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="appName" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="previewHTMLResponse">

		<wsdl:part name="previewHTMLReturn" type="xsd:base64Binary" />

	</wsdl:message>

	<wsdl:message name="previewPDFResponse">

		<wsdl:part name="previewPDFReturn" type="xsd:base64Binary" />

	</wsdl:message>

	<wsdl:message name="outputProfilesForDocumentRequest">

		<wsdl:part name="documentName" type="xsd:string" />

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="appName" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="previewHTMLRequest">

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="document" type="xsd:string" />

		<wsdl:part name="customer" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="previewPDFRequest">

		<wsdl:part name="documentName" type="xsd:string" />

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="customerData" type="xsd:string" />

		<wsdl:part name="appName" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="getAssembledDocumentResponse">

		<wsdl:part name="getAssembledDocumentReturn" type="xsd:base64Binary" />

	</wsdl:message>

	<wsdl:message name="documentsForCategoryResponse">

		<wsdl:part name="documentsForCategoryReturn" type="intf:ArrayOfString" />

	</wsdl:message>

	<wsdl:message name="categoriesForUserResponse">

		<wsdl:part name="categoriesForUserReturn" type="intf:ArrayOfString" />

	</wsdl:message>

	<wsdl:message name="publishDocumentRequest">

		<wsdl:part name="documentName" type="xsd:string" />

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="outputProfile" type="xsd:string" />

		<wsdl:part name="customerData" type="xsd:string" />

		<wsdl:part name="appName" type="xsd:string" />

	</wsdl:message>

	<wsdl:message name="categoriesForUserRequest">

		<wsdl:part name="userName" type="xsd:string" />

		<wsdl:part name="password" type="xsd:string" />

		<wsdl:part name="appName" type="xsd:string" />

	</wsdl:message>

	<wsdl:portType name="XPressionRequest">

		<wsdl:operation name="publishDocument"
			parameterOrder="documentName userName password outputProfile customerData appName">

			<wsdl:input message="intf:publishDocumentRequest" name="publishDocumentRequest" />

			<wsdl:output message="intf:publishDocumentResponse" name="publishDocumentResponse" />

		</wsdl:operation>

		<wsdl:operation name="previewHTML"
			parameterOrder="userName password document customer">

			<wsdl:input message="intf:previewHTMLRequest" name="previewHTMLRequest" />

			<wsdl:output message="intf:previewHTMLResponse" name="previewHTMLResponse" />

		</wsdl:operation>

		<wsdl:operation name="previewPDF"
			parameterOrder="documentName userName password customerData appName">

			<wsdl:input message="intf:previewPDFRequest" name="previewPDFRequest" />

			<wsdl:output message="intf:previewPDFResponse" name="previewPDFResponse" />

		</wsdl:operation>

		<wsdl:operation name="publishAndReturnDocument"
			parameterOrder="documentName userName password outputProfile customerData applicationName">

			<wsdl:input message="intf:publishAndReturnDocumentRequest"
				name="publishAndReturnDocumentRequest" />

			<wsdl:output message="intf:publishAndReturnDocumentResponse"
				name="publishAndReturnDocumentResponse" />

		</wsdl:operation>

		<wsdl:operation name="categoriesForUser"
			parameterOrder="userName password appName">

			<wsdl:input message="intf:categoriesForUserRequest" name="categoriesForUserRequest" />

			<wsdl:output message="intf:categoriesForUserResponse"
				name="categoriesForUserResponse" />

		</wsdl:operation>

		<wsdl:operation name="documentsForCategory"
			parameterOrder="documentCategory userName password appName">

			<wsdl:input message="intf:documentsForCategoryRequest"
				name="documentsForCategoryRequest" />

			<wsdl:output message="intf:documentsForCategoryResponse"
				name="documentsForCategoryResponse" />

		</wsdl:operation>

		<wsdl:operation name="outputProfilesForDocument"
			parameterOrder="documentName userName password appName">

			<wsdl:input message="intf:outputProfilesForDocumentRequest"
				name="outputProfilesForDocumentRequest" />

			<wsdl:output message="intf:outputProfilesForDocumentResponse"
				name="outputProfilesForDocumentResponse" />

		</wsdl:operation>

		<wsdl:operation name="getBDT"
			parameterOrder="documentName customerData userName password appName">

			<wsdl:input message="intf:getBDTRequest" name="getBDTRequest" />

			<wsdl:output message="intf:getBDTResponse" name="getBDTResponse" />

		</wsdl:operation>

		<wsdl:operation name="getAssembledDocument"
			parameterOrder="documentName customerData userName password appName">

			<wsdl:input message="intf:getAssembledDocumentRequest"
				name="getAssembledDocumentRequest" />

			<wsdl:output message="intf:getAssembledDocumentResponse"
				name="getAssembledDocumentResponse" />

		</wsdl:operation>

		<wsdl:operation name="publishMSOHTMLDocument"
			parameterOrder="documentName customerData moshtml outputProfileName userName password appName">

			<wsdl:input message="intf:publishMSOHTMLDocumentRequest"
				name="publishMSOHTMLDocumentRequest" />

			<wsdl:output message="intf:publishMSOHTMLDocumentResponse"
				name="publishMSOHTMLDocumentResponse" />

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="xPressionRequestSoapBinding" type="intf:XPressionRequest">

		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="publishDocument">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="publishDocumentRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="publishDocumentResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="previewHTML">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="previewHTMLRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="previewHTMLResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="previewPDF">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="previewPDFRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="previewPDFResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="publishAndReturnDocument">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="publishAndReturnDocumentRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="publishAndReturnDocumentResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="categoriesForUser">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="categoriesForUserRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="categoriesForUserResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="documentsForCategory">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="documentsForCategoryRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="documentsForCategoryResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="outputProfilesForDocument">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="outputProfilesForDocumentRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="outputProfilesForDocumentResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getBDT">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="getBDTRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="getBDTResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getAssembledDocument">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="getAssembledDocumentRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="getAssembledDocumentResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="publishMSOHTMLDocument">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="publishMSOHTMLDocumentRequest">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:input>

			<wsdl:output name="publishMSOHTMLDocumentResponse">

				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.documentrequester.com/schemas/" use="encoded" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="XPressionRequestService">

		<wsdl:port binding="intf:xPressionRequestSoapBinding" name="xPressionRequest">

			<wsdlsoap:address
				location="http://nzakl20sv192/xPressionWebService/services/xPressionRequest" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
